<div class="contents row">
  <div class="container">
    <h3>Hometeを編集する</h3>
    <%= form_with model:@post, local:true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

      <div class="new-post">
        <div>タイトル</div>
        <%= f.text_field :title, class:"post-title", id:"post-title" , placeholder:"30文字まで", maxlength:"30" %>

        <div>本文</div>
        <%= f.text_area :text, class:"post-text", id:"post-text", placeholder:"2,000文字まで" , rows:"16" , maxlength:"2000" %>

        <%= f.submit "CHANGE", class: "button is-success" %>
      </div>

    <% end %>
  </div>
</div>